@use "../variables/variables";

.card-text {
  font-size: 0.875rem;
  font-family: variables.$font-main;
  &__parfum-heading {
    color: variables.$color-neutral-medium;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
  }
  &__parfum-name {
    font-family: variables.$font-heading;
    font-size: 2rem;
  }
  &__parfum-text-description {
    color: variables.$color-neutral-medium;
  }
  &__price-discount {
    font-size: 2rem;
    font-family: variables.$font-heading;
    color: variables.$color-primary-accent;
  }
  &__price-original {
    text-decoration: line-through;
    font-family: variables.$font-heading;
    color: variables.$color-neutral-medium;
  }
  &__button {
    font-family: inherit;
    color: #fff;
  }
}
